<div class="container">
  <% @cart_items.each do |cart_item| %>
    <div class="row m-5">
      <%= attachment_image_tag cart_item.item, :jacket_image, :fill, 150, 150, class: 'col-2 offset-2', fallback: "no_image.jpg", :size =>'150x150' %>
      <div class="col-5">
        <h1><%= cart_item.item.title %> - <%= cart_item.item.artist.name %></h1>
        <%= form_with model: cart_item, local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <%= f.hidden_field :item_id, value: cart_item.item_id %>
        <div>
          <span><%= number_to_currency(cart_item.item.price, precision: 0, unit: '¥') %> × <%= f.number_field :amount, class: 'amount-form' %>枚</span>
        </div>
        <div>
          <span>在庫 <%= cart_item.item.stock %>枚</span><br>
          <%= cart_item.item.statuses %>
          <span class="side-links float-right">
            <%= f.submit '追加' %> | <%= link_to '削除', cart_item_path(cart_item), method: :delete %>
          </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @cart_items %>

  <div class="float-right mr-5">
    <span>
      合計金額: <%= number_to_currency(@cart_items.sum(&:total_price), precision: 0, unit: '¥') %>
      <%= link_to '購入に進む', new_order_path %>
    </span>
  </div>
</div>
