<div class="container">
  <h1>Log in</h1>
  <div class="w-75 mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mx-auto w-50">
      <p class="m-3">メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100' %>
    </div>

    <div class="mx-auto w-50">
      <p class="m-3">パスワード</p>
      <%= f.password_field :password, autocomplete: "current-password", class: 'w-100' %>
    </div>

    <div class="mx-auto w-50 p-5">
      <%= f.submit "Log in", class: 'btn btn-primary w-25 mx-5' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'mx-4' %>
    </div>
  <% end %>
  </div>
</div>
