<div>
<% @items.each do |item| %>
  <div>
    <%= attachment_image_tag item, :jacket_image, :fill, 100, 100 %>
    <h1><%= item.title %> - <%= item.artist.name %></h1>
    <div>
      <span><%= item.first_song.title %>...</span><span>残り<%= item.stock %></span>
      <%= link_to "show", item_path(item) %>
    </div>
  </div>
<% end %>
</div>
