<div class="container">
<div class="my-5">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" data-toggle="tab">ユーザー詳細</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">登録住所</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">受注履歴一覧</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div id="tab1" class="tab-pane active container">
    <h2>ユーザー情報</h2>
    <table class="table">
      <tr><th>名前（姓・名）</th><td><%= @user.first_name %><%= @user.last_name %></td></tr>
      <tr><th>名前（カナ姓・カナ名）</th><td><%= @user.kana_first_name %><%= @user.kana_last_name %></td></tr>
      <tr><th>郵便番号</th><td><%= @user.postal_code %></td></tr>
      <tr><th>住所</th><td><%= @user.address %></td></tr>
      <tr><th>電話番号</th><td><%= @user.phone %></td></tr>
      <tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
      <tr><th>ステータス</th><td><%= @user.status %></td></tr>
    </table>
  </div>

  <div id="tab2" class="tab-pane container">
    <ol>
      <% @user.addresses.each do |address| %>
        <li><%= address.address %> <%= link_to '削除', admins_address_path(address), method: :delete %></li>
      <% end %>
    </ol>
  </div>

  <div id="tab3" class="tab-pane container">
    <% @user.orders.each do |order| %>
    <div class="border row p-3 m-3">
      <div class="col-4 offset-2 py-3">
        <p><%= order.created_at.strftime("%Y年%m月%d日") %></p>
        <table class="table">
          <tr><th>商品タイトル</th><th>枚数</th><th>合計金額</th></tr>
          <% order.order_details.each do |od| %>
            <tr><td><%= od.item.title %></td><td><%= od.cd_amount %></td><td><%= number_to_currency(od.total_price, precision: 0, unit: '¥') %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="col-4 offset-2 py-5">
        <p>ステータス：<%= order.display_status %></p>
        <p>支払方法：<%= order.display_payment %></p>
        <p>発送先：<%= order.address %></p>
        <p>送料：<%= number_to_currency(order.delivery_cost, precision: 0, unit: '¥') %></p>
        <p>合計金額：<%= number_to_currency(order.total_price, precision: 0, unit: '¥') %></p>
      </div>
    </div>
  <% end %>
  </div>

  <div class="links">
    <%= link_to '編集', edit_admins_user_path(@user) %> <%= link_to '削除', admins_user_path(@user), method: :delete %>
  </div>
</div>
</div>