<div class="container">
  <p class="text-right mt-3">
    <%= link_to '新規作成', new_admins_item_path, class: 'text-right' %>
  </p>
  <% @items.each_slice(2) do |items| %>
    <div class="row">
    <% items.each do |item| %>
      <div class="col-lg-5 offset-lg-1">
        <div class="row border p-3 my-3">
          <%= attachment_image_tag item, :jacket_image, :fill, 100, 100, class: "col-4" %>
          <div class="col-7">
            <h4><%= item.title %> - <%= item.artist.name %></h4>
            <p class="h-25"></p>
            <p>
              <span class=""><%= item.first_song.title %>...</span>
              <%= link_to "show", admins_item_path(item), class: "float-right" %>
              <span class="float-right mr-2">残り<%= item.stock %>枚</span>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
