<div class="w-75 container p-3 ">
  <div class="row">
    <div class="col-5">
      <h3><%= @item.genre.name %>/<%= @item.label.name %></h3>
      <%= attachment_image_tag @item, :jacket_image, :fill, 250, 250, fallback: "no_image.jpg", :size =>'250x250' %>
    </div>
    <div class="col-7">
      <h1><%= @item.title %>-<%= @item.artist.name %></h1>
      <p><%= number_to_currency(@item.price * Item::TAX, precision: 0, unit: '¥') %>(税込) | <%= @item.statuses %></p>

      <select id="select-disk">
        <% @item.disks.each_with_index do |disk, index| %>
          <option value="<%= index+1 %>">ディスク<%= index+1 %></option>
        <% end %>
      </select>

      <div class="all-disk">
        <% @item.disks.each_with_index do |disk, index| %>
          <div id="disk-<%= index+1 %>" class="uncurrent-disk">
            <ol>
            <% disk.songs.each do |song| %>
              <li><%= song.title %></li>
            <% end %>
            </ol>
          </div>
        <% end %>
      </div>
      <div class="row">
        <span class="col-4">在庫数： <%= @item.stock %>枚</span>
      </div>
      <div class="row p-3">
        <%= link_to '編集', edit_admins_item_path(@item) %>
      </div>
    </div>
  </div>
</div>