

<div class="container">
  <h1>Log in</h1>
  <div class="w-75 mx-auto">
  <%= form_for(resource, as: resource_name, html: {class: "h-adr"}, url: session_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mx-auto w-50">
    <p class="m-3">名前</p>
    <%= f.text_field :first_name, autofocus: true, class: 'mr-5' %>
    <%= f.text_field :last_name %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">名前（カナ）</p>
    <%= f.text_field :kana_first_name, class: 'mr-5' %>
    <%= f.text_field :kana_last_name %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">郵便番号</p>
    <span class="p-country-name" style="display:none;">Japan</span>
    <%= f.text_field :postal_code, class: 'w-100 p-postal-code' %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">住所</p>
    <%= f.text_area :address, class: 'w-100 p-region p-locality p-street-address p-extended-address' %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">電話番号</p>
    <%= f.text_field :phone, autofocus: true, class: 'w-100' %>
  </div>
  
  <div class="mx-auto w-50">
    <p class="m-3">メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100' %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">パスワード(6文字以上)</p>
    <%= f.password_field :password, autocomplete: "new-password", class: 'w-100' %>
  </div>

  <div class="mx-auto w-50">
    <p class="m-3">パスワード確認</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-100' %>
  </div>

  <div class="mx-auto w-50 p-3">
    <%= f.submit "Sign up", class: 'btn btn-primary w-50' %>
  </div>
  <% end %>
  </div>
</div>