<div class="container">
  <% @orders.each do |order| %>
  <%= link_to admins_order_path(order), class: "text-body text-decoration-none" do %>
    <div class="border row p-3 m-3">
      <div class="col-4 offset-2 py-3">
        <p><%= order.created_at.strftime("%Y年%m月%d日") %></p>
        <table class="table">
          <tr><th>商品タイトル</th><th>枚数</th><th>合計金額</th></tr>
          <% order.order_details.each do |od| %>
            <tr><td><%= od.item.title %></td><td><%= od.cd_amount %></td><td><%= number_to_currency(od.total_price, precision: 0, unit: '¥') %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="col-4 offset-2 py-5">
        <p>ステータス：<%= order.display_status %></p>
        <p>支払方法：<%= order.display_payment %></p>
        <p>発送先：<%= order.address %></p>
        <p>送料：<%= number_to_currency(order.delivery_cost, precision: 0, unit: '¥') %></p>
        <p>合計金額：<%= number_to_currency(order.total_price, precision: 0, unit: '¥') %></p>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= paginate @orders %>
</div>